:root {
  --primary-color: rgb(0,51,102);
  --secondary-color: rgb(0, 57, 112);
  --hover-color: rgb(0, 63, 122);
  --txtScreen-color: rgba(13, 125, 218, 0.8);
  --txtButton-color: rgba(255, 255, 255, 1);
  --txt-shadow: 0 0 3px rgba(13, 125, 218, 0.8);
  --white-opa20: rgba(255, 255, 255, .2);
}

* {
  box-sizing: border-box;
  font-family: Verdana, Helvetica, sans-serif;
}

body, h1 {
  margin: 0;
}

body {
  background-color: rgb(15, 15, 51);
}

header {
  align-items: center;
  background: var(--primary-color);
  display: flex;
  height: 150px;
  justify-content: center;
  margin-bottom: 15px;
  text-shadow: var(--txt-shadow);
}

main {
  display: flex;
}

.calc-container {
  background: var(--primary-color);
  margin: auto;
  padding: 10px 5px;
  width: 350px;
}

.calc-screen-content {
  background: var(--secondary-color);
  border: 1px solid var(--white-opa20);
  margin: 10px 15px 20px;
  padding: 5px 10px;
}

.calc-screen {
  color: var(--txtScreen-color);
  display: block;
  font-size: 1.8rem;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  text-shadow: var(--txt-shadow);
}

.calc-pad-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 2px 16px;
}

.calc-btn {
  background: var(--secondary-color);
  border: 1px solid var(--white-opa20);
  border-radius: 12px;
  color: var(--txtButton-color);
  font-size: 1.6rem;
  margin: 8px;
  padding: 6px 0;
}

.calc-btn:hover {
  background: var(--hover-color);
}
.calc-btn:active {
  background: var(--primary-color);
}

.calc-btn:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
.calc-btn:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
.calc-btn:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }
.calc-btn:nth-child(4) { grid-area: 1 / 4 / 2 / 5; }

.calc-btn:nth-child(5) { grid-area: 2 / 1 / 3 / 2; }
.calc-btn:nth-child(6) { grid-area: 2 / 2 / 3 / 3; }
.calc-btn:nth-child(7) { grid-area: 2 / 3 / 3 / 4; }
.calc-btn:nth-child(8) { grid-area: 2 / 4 / 3 / 5; }

.calc-btn:nth-child(9) { grid-area: 3 / 1 / 4 / 2; }
.calc-btn:nth-child(10) { grid-area: 3 / 2 / 4 / 3; }
.calc-btn:nth-child(11) { grid-area: 3 / 3 / 4 / 4; }
.calc-btn:nth-child(12) { grid-area: 3 / 4 / 4 / 5; }

.calc-btn:nth-child(13) { grid-area: 4 / 1 / 5 / 2; }
.calc-btn:nth-child(14) { grid-area: 4 / 2 / 5 / 3; }
.calc-btn:nth-child(15) { grid-area: 4 / 3 / 5 / 4; }
.calc-btn:nth-child(16) { grid-area: 4 / 4 / 5 / 5; }

.calc-btn:nth-child(17) { grid-area: 5 / 1 / 6 / 2; }
.calc-btn:nth-child(18) { grid-area: 5 / 2 / 6 / 3; }
.calc-btn:nth-child(19) { grid-area: 5 / 3 / 6 / 4; }
.calc-btn:nth-child(20) {
  align-items: end;
  display: flex;
  grid-area: 5 / 4 / 7 / 5;
  justify-content: center;
}

.calc-btn:nth-child(21) {
  display: flex;
  grid-area: 6 / 1 / 7 / 3;
  justify-content: start;
  padding: 6px 22px;
}
.calc-btn:nth-child(22) { grid-area: 6 / 3 / 7 / 4; }

/* .btn-blue {
  background: linear-gradient(to top, rgb(81, 130, 170), rgb(145, 197, 221));
}
.btn-green {
  background: linear-gradient(to top, rgb(103, 184, 123), rgb(147, 223, 176));
}
.btn-red {
  background: linear-gradient(to top, rgb(224, 101, 101), rgb(250, 189, 189));
} */